@using EntityLayer.Concrete
@model List<Reservation>


@{
    ViewData["Title"] = "MyOldReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">

	<div class="container-fluid">
		<div class="page-header min-height-150 border-radius-xl mt-4" style="background-image: url('/soft-ui-dashboard/assets/img/bg-007.jpg'); background-position-y: 35%; ">
            			<span class="mask bg-gradient-primary opacity-6" style="background-image: linear-gradient(310deg, #630c0c 0%, #e10101 100%);"></span>

		</div>
		<div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
			<div class="row gx-4">
				<div class="col-auto my-auto">
					<div class="h-100">
						<h3 class="mb-0 font-weight-bold ">
                            Geçmiş Rezervasyonlarım
						</h3>
					</div>
				</div>
			</div>
		</div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-body px-0 pt-0 pb-2 pt-5">
                <div class="table-responsive p-0">
                    @if (Model.Any())
                    {
                        <table class="table align-items-center mb-0">
                            <tr>
                                <th>#</th>
                                <th>Lokasyon</th>
                                <th>Kişi Sayısı</th>
                                <th>Rezervasyon Tarihi</th>
                                <th>Durum</th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th>@item.ReservationID</th>
                                    <td>@item.Destination.City</td>
                                    <td>@item.PersonCount</td>
                                    <td>@item.ReservationDate</td>
                                    <td>@item.Status</td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <h5 class="text-danger text-center">Geçmiş Rezervasyonunuz Bulunamadı !</h5>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

