@model List<Reservation>
@{
    ViewData["Title"] = "PreviousReservation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}


<div class="card alert alert-danger">
    <h5 class="card-header">Geçmiş Rezervasyonlar</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Kullanıcı Adı</th>
                    <th>Rota</th>
                    <th>Kişi Sayısı</th>
                    <th>Rezervasyon Tarihi</th>
                    <th>Açıklama</th>
                    <th>####</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0 alert alert-danger">
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@item.AppUser.Name</td>
                        <td>@item.Destination.City</td>
                        <td>@item.PersonCount</td>
                        <td>@(((DateTime)item.ReservationDate).ToString("dd-MMM-yyyy"))</td>
                        <td>@item.Description</td>
                        <td><a href="" class="btn btn-outline-success"><i class="bx bx-check"></i> ####</a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

